.footer{
  border-bottom: 0.5px solid #d4a373;
   background-color: rgba(211, 211, 211, 0.174)
}

.footer-container {
  width: 80%;
  margin: 0px 10%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-left {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left h1 {
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: 200;
  color: black;
  margin-bottom: 20px;
}

.footer-left p {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.footer-left input {
  padding: 4px;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.footer-left button {
  padding-left: 33px;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: #0000006c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-left button:hover {
  background-color: rgb(147, 147, 147);
  color: lightgray;
}

.footer-right{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-right p {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;

}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons i {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.1);
}

.footer-bottom {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p{
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px){
  .footer-left h1{
    font-size: 20px;
    font-weight: 400;
  }
  .footer-left p{
    font-size: 10px;
  }
  .footer-right p{
    font-size: 20px;
  }
  .social-icons i{
    font-size: 22px;
  }
}
