/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
} */

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 15px;
  height: 56px;
  position: relative;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.152);
  cursor: pointer;
  border-radius: 32px;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s ease, background-color 150ms ease;
  &:focus {
    
    outline: none;
  }

  &:hover,
  &:active {
    background-color: #eee;
  }
}

#cart {
  margin-right: 12px;
  transform-origin: 20% 100%;
  opacity: 1;
}

@keyframes slide-up-fade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-16px);
    opacity: 0;
  }
}

@keyframes roll-out {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(0) rotate(-70deg);
    opacity: 1;
  }
  50% {
    transform: translate(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px) rotate(-47deg);
    opacity: 0;
  }
}

.checked-out span {
  animation: slide-up-fade 150ms 1;
  animation-fill-mode: both;
}

.checked-out #cart {
  animation: roll-out 1s 1 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes checkmark {
  from {
    stroke-dashoffset: 26px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#check {
  position: absolute;
  left: calc(50% - 12px);
}

#check path {
  stroke-dasharray: 26px;
  stroke-dashoffset: 26px;
}

.checked-out #check path {
  animation: checkmark 150ms 1 1150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.checked-out button {
  background-color: #20bf6b;
  transition-delay: 1150ms;
}
