.addCart-container {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sizes-container {
  display: flex;
}

.size-button {
  width: 27px;
  height: 27px;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 11px;
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
}

.size-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px, rgba(0, 0, 0, 0.08) 0 0 4px,
    rgba(0, 0, 0, 0.06) 0 0 6px;
  transform: scale(1.1);
}



.fa-bag-shopping {
  font-size: 20px;
  color: #283618;
}

.fa-bag-shopping:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .addCart-container {
    width: 82%;
    height: 20px;
    margin: 0px 9%;
    justify-content: space-between;
  }

  .size-button {
    width: 16px;
    height: 16px;
    font-size: 5px;
  }

  .fa-bag-shopping {
    font-size: 13px;
  }
}
